$bg-section: #EDF2EC;
$links-nav: #010201;
$main-text: #E06733;

$color-green: #499A18;
$color-gray: #717171;
$color-orange: #E06733;
$color-dark-gray: #636060;
$color-white: #ffff;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-width: 320px;